/* import google fonts : Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* import google fonts : Caveat */
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap");

/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.menu {
  height: 100vh;
  width: 23%;
  background-color: #251965;
  left: 0;
  top: 0;
  position: fixed;
  border-right: 5px solid #543ae6;
}

.logo {
  margin-top: 20px;
}

.logo img {
  display: block;
  margin: auto;
}

.logo p {
  color: white;
}

.logo h2 {
  color: white;
  margin-bottom: 3rem;
}

.logo h3 {
  color: white;
}

.content {
  width: 77%;
  float: right;
  display: inline;
}

nav {
  background-color: #543ae6;
}

.p-2 a {
  text-decoration: none;
}

.exit {
  position: fixed;
  bottom: 5px;
  left: 82px;
}

.exit button {
  background: none;
  color: white;
  border: none;
  margin-bottom: 3rem;
}

.exit button:hover {
  color: #543ae6;
}

.usernav.ms-auto {
  height: 40px;
}

.usernav.ms-auto.ms-auto p {
  color: white;
  margin-bottom: 0;
  padding-top: 3px;
  padding-right: 40px;
}

ul {
  list-style-type: none;
}

.col-8 table {
  width: 100%;
  text-align: start;
  border-radius: 10px;
  background-color: #fff;
}

.col-8 table tr td {
  padding: 10px;
  font-size: 20px;
  color: #333;
}

.col-4 {
  background: #251965;
  text-align: center;
  padding: 40px 20px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
  border: 4px solid #543ae6;
}

.col-4 p {
  color: white;
  font-size: larger;
  text-decoration: underline;
}

.col-4 img {
  width: 150px;
}

.col-4:hover {
  transform: translateY(-10px);
}

.col-4 h3 {
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

footer {
  padding: 20px;
}

#contact {
  height: 100vh;
}

#contact .container {
  padding-top: 7em;
}

#contact h3 {
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 2rem;
  padding-top: 2em;
  color: #251965;
}

#contact i {
  font-size: 40px;
  color: #543ae6;
  filter: grayscale(20);
}

#contact i:hover {
  filter: none;
}

#contact a {
  text-decoration: none;
  color: black;
}

#contact a:hover {
  color: #543ae6;
}

.edit .nth-table th {
  color: aliceblue;
}

/* .bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;

}

.modal-content {
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  justify-content: center;
}

.modal-content img {
  width: 100px;
  border-radius: 50%;
} */
